body{
    background: rgb(124, 62, 62);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo{
    border: 3px #000;
    border-radius: 50%;
}

#title{
    color: rgb(252, 252, 252);
    font-size: 35px;
    text-transform: uppercase;
    
}
a {
    text-decoration: line-through;
    color: rgb(252, 252, 252);
}
#subtitle{
    color: rgb(252, 252, 252);
}

#post_title{
    color: brown;
    font-size:16px ;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#post_contend{
    margin: 0;
    margin-bottom: 15px;
    color: #fff;
    text-transform: capitalize;

}

.post_image{
    margin-bottom: 15px;
}

.contacts_list{
    list-style-type: none;
    padding-left: 15px;

}

.contacts_list li a{
    text-decoration: none;
}
